@model WebAppMVCTechCrew.Models.Myvalues
@{
    ViewData["Title"] = "Sub";
}

<h1>Sub</h1>

<form method="post">
    <table border="1">
        <tr>
            <td>Enter X value:</td>
            <td><input type="number" asp-for="x" /></td>
        </tr>
        <tr>
            <td>Enter Y value:</td>
            <td><input type="number" asp-for="y"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="submit" /></td>
            <td><input type="reset" value="reset" /></td>
        </tr>
    </table>

    <p>
        @TempData["res"]
    </p>
</form>