@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Page1";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Page1</h1>

<p>
    View bag Value : @ViewBag.vbmessage
</p>
<p>
    View data Value : @ViewData["vdmessage"]
</p>

<p>
    temp data Value : @TempData["tdmessage"]
</p>

<p>
 "Session value :"+   @HttpContextAccessor.HttpContext.Session.GetString("mysessionval")
    </p>
